# - The project includes a working virtualenv in `./cpdb/` with the packages used to run
#   the scripts. For reproducibility, prefer using that environment: `./cpdb/bin/python3`.

pandas
numpy
scipy
scikit-learn
h5py
anndata
matplotlib
seaborn
networkx
tqdm
plotly

torch
torch-geometric


warnings
liana
scanpy
os 
argparse
random
omnipath
scprep
rdflib
leidenalg
torch-cluster
torch-scatter
torch-sparse